.header
	.header-logo
		a(href="https://sushi-man.cz" target="_blank")
			img(alt="Logo" src="https://develop.sushiman-office.cz/uploads/Logo_yt2_740c9ecf65.png")
	h1 Vaše objednávka byla úspěšně přijata
	h3 Objednávka ##{order.id}
		