.footer
	p
		strong Vážený zákazníků prosím Vás zkontrolovat že jste správně ukázal Telefoní číslo! Na které dostanete informační SMS o Vaše objednávce!

	.footer-info
		p
			strong Děkujeme za vaši důvěru a těšíme se na další spolupráci.

		h4 Kontaktní údaje:
		p Telefon: 
			strong= company.phone
		p E-mail: 
			a.link(href=company.email)= company.email
		p Webová stránka: 
			a.link(href=company.webAddress)= company.webAddress
		p Pokud máte jakékoliv dotazy nebo potřebujete další informace, neváhejte nás kontaktovat.
		p= company.name